<div class="modal-header">
    <h4 class="modal-title">Confirmação</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Deseja excluir o antibiótico {{antibiotico.nome}}?</p>
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click'); excluiAntibiotico();">Sim</button>
    <button type="button" class="btn btn-primary ml-2" routerLink="/antibiotico/consultar" (click)="activeModal.close('Close click')">Não</button>
</div>