<div class="modal-header">
    <h4 class="modal-title">Confirmação</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p *ngIf="!origemTratamento">Deseja excluir o antibiótico {{antibiotico.nome}}?</p>
    <p *ngIf="origemTratamento && aprovacaoTratamento">Deseja aprovar o tratamento de {{tratamento.nomePaciente}}</p>
    <p *ngIf="origemTratamento && !aprovacaoTratamento">Deseja recusar o tratamento de {{tratamento.nomePaciente}}</p>

    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click'); atualizaTratamento(aprovacaoTratamento);" *ngIf="origemTratamento">Sim</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click'); excluiAntibiotico();" *ngIf="!origemTratamento">Sim</button>
    <button type="button" class="btn btn-primary ml-2" (click)="activeModal.close('Close click')">Não</button>
</div>
