<div class="modal-header">
    <h4 class="modal-title">Consulta de paciente</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label class="font-weight-bold" for="nome">Registro de atendimento</label>
        <span class="d-block">{{paciente.registro}}</span>
      </div>
      <div class="form-group col-md-5">
        <label class="font-weight-bold" for="nome">Nome</label>
        <span class="d-block">{{paciente.nome}}</span>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label class="font-weight-bold" for="dataNascimento">Data Nascimento</label>
            <span class="d-block">{{paciente.dataNascimento | date: 'dd/MM/yyyy'}}</span>
        </div>
        
        <div class="form-group col-md-5">
            <label class="font-weight-bold" for="dataNascimento">Sexo</label>
            <span class="d-block">{{paciente.sexo | getNomeSexoPeloCodigo}}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" routerLink="/paciente/cadastrar" (click)="activeModal.close('Close click'); redirecionaTelaEdicao()">Editar</button>
  <button type="button" class="btn btn-info" routerLink="/tratamento/cadastrar" (click)="activeModal.close('Close click'); redirecionaTelaEdicaoTratamento()">Tratamento</button>
</div>