<div class="container">
    <div class="row d-flex justify-content-end mt-5">
        <button class="btn btn-primary float-right col-1" routerLink="/tratamento/cadastrar">Cadastrar</button>
    </div>

    <div class="row">
        <form [formGroup]="tratamentoForm" (ngSubmit)="onSubmit(tratamentoForm.value)" class="w-100">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="mt-3">Consultar Tratamento</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="nome" placeholder="Nome ou registro de atendimento do paciente" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button  class="btn btn-outline-secondary" id="button-addon2">Pesquisar</button>
                        </div>
                    </div>
                </div>
                <div class="card-body d-none" id="resultado">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th (click)="setOrder('paciente')" scope="col">Paciente
                                    <span *ngIf="order =='paciente'">{{reverse ? '▲' : '▼'}}</span>  
                                  </th>
                                  <th (click)="setOrder('diagnostico')" scope="col">Diagnostico
                                    <span *ngIf="order =='diagnostico'">{{reverse ? '▲' : '▼'}}</span>  
                                  </th>
                                  <th (click)="setOrder('inicio_tratamento')" scope="col">Início Tratamento
                                    <span *ngIf="order =='inicio_tratamento'">{{reverse ? '▲' : '▼'}}</span>  
                                  </th>
                                  <th (click)="setOrder('fim_tratamento')" scope="col">Fim Tratamento
                                    <span *ngIf="order =='fim_tratamento'">{{reverse ? '▲' : '▼'}}</span>  
                                  </th>
                            </tr>
                        </thead>
                        <tbody class="tbody-resultados">
                          <tr #resultadosTratamento *ngFor="let tratamento of tratamentos | orderBy: order: reverse; " attr.data-codigo-paciente="{{tratamento.id}}" attr.data-json-tratamento="{{tratamento.jsonTratamento}}" class="cursorPointer resultado">
                            <td>{{tratamento.paciente}}</td>
                            <td>{{tratamento.diagnostico}}</td>
                            <td>{{tratamento.inicio_tratamento | date: 'dd/MM/yyyy'}}</td>
                            <td>{{tratamento.fim_tratamento | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

