<div class="modal-header">
    <h4 class="modal-title">Consulta de Funcionário</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label class="font-weight-bold" for="nome">Funcionário</label>
        <span class="d-block">{{funcionario.nome}}</span>
      </div>
      <div class="form-group col-md-5">
        <label class="font-weight-bold" for="nome">Usuário</label>
        <span class="d-block">{{funcionario.login}}</span>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label class="font-weight-bold" for="sexo">Ocupação</label>
            <span class="d-block">{{funcionario.tipoFuncionario | getNomeCargoPeloId}}</span>
        </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click'); redirecionaTelaEdicao()">Editar</button>
</div>
