<div class="container">
  <div class="row d-flex justify-content-end mt-5">
    <button class="btn btn-primary float-right col-1" routerLink="/funcionario/cadastrar">Cadastrar</button>
  </div>

  <div class="row">
    <form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit(funcionarioForm.value)" class="w-100">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="mt-3">Consultar Funcionário</h2>
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="nome" placeholder="Nome do funcionário"
              aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" id="button-addon2">Pesquisar</button>
            </div>
          </div>
        </div>
        <div class="card-body d-none" id="resultado">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th (click)="setOrder('nome')" scope="col">Nome
                  <span *ngIf="order =='nome'">{{reverse ? '▲' : '▼'}}</span>  
                </th>
                <th (click)="setOrder('tipoFuncionario')" scope="col">Tipo Funcionário
                  <span *ngIf="order =='tipoFuncionario'">{{reverse ? '▲' : '▼'}}</span>  
                </th>
                <th (click)="setOrder('dtNascimento')" scope="col">Data Nascimento
                  <span *ngIf="order =='dtNascimento'">{{reverse ? '▲' : '▼'}}</span>  
                </th>
                <th (click)="setOrder('nameUser')" scope="col">Usuário
                  <span *ngIf="order =='nameUser'">{{reverse ? '▲' : '▼'}}</span>  
                </th>
              </tr>
            </thead>
            <tbody class="tbody-resultados">
              <tr #resultadosFuncionario *ngFor="let funcionario of funcionarios | orderBy: order: reverse; let i = index"
                attr.data-codigo-funcionario="{{funcionario.idFuncionario}}"
                attr.data-json-funcionario="{{funcionario.jsonFuncionario}}" class="cursorPointer resultado">
                <td>{{funcionario.nome}}</td>
                <td>{{funcionario.tipoFuncionario | getNomeCargoPeloId}}</td>
                <td>{{funcionario.dtNascimento | date: 'dd/MM/yyyy' }}</td>
                <td>{{funcionario.nameUser}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
