<div class="container">
  <form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit(funcionarioForm.value)">
    <div class="divsor container">
      <div class="divsorTexto"> Cadastro de Funcionário</div>
      <div class="form-row formInputs">
        <div class="form-group col-md-3">
          <label class="font-weight-bold" for="lote">Nome</label>
          <input type="text" formControlName="nome" class="form-control inputs"
            [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
          <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">Nome é obrigatório</div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold" for="dosagem">Tipo Funcionário</label>

          <select formControlName="tipoFuncionario" name="tipoFuncionario" class="form-control inputs"
            [ngClass]="{ 'is-invalid': submitted && f.tipoFuncionario.errors }">
            <option value="" disabled>Selecione</option>
            <option *ngIf="acessoDev" value="0">Desenvolvedor</option>
            <option value="0">Médico</option>
            <option value="1">Farmacêutico</option>
            <option value="2">Administração</option>
            <!-- <option value="3">Farmácia</option>
            <option value="4">Administrador</option> -->
          </select>
          <div *ngIf="submitted && f.tipoFuncionario.errors" class="invalid-feedback">
            <div *ngIf="f.tipoFuncionario.errors.required">Tipo funcionário é obrigatório</div>
          </div>
        </div>
      </div>
     
      <div class="form-row formInputs">
        <div class="form-group col-md-3">
          <label class="font-weight-bold" for="lote">Usuário</label>
          <input type="text" formControlName="login" class="form-control inputs"
            [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
          <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
            <div *ngIf="f.login.errors.required">Usuário é obrigatório</div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold" for="nome">Senha</label>

          <input type="password" formControlName="senha" class="form-control inputs"
            [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" />
          <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
            <div *ngIf="f.senha.errors.required">Senha é obrigatória</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btnSubmit">Cadastrar</button>
        <img *ngIf="loading" class="pl-3"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a routerLink="/funcionario/consultar" class="btn btn-link formInputs">Cancelar</a>
      </div>
    </div>
  </form>
</div>

