<div class="container">
  <div class="row d-flex justify-content-end mt-5">
    <button class="btn btn-primary float-right col-1" routerLink="/antibiotico/cadastrar">Cadastrar</button>
  </div>

  <div class="row d-flex justify-content-end mt-5">
    <select class="form-control filter" name="select" [(ngModel)]="orderSelect" (ngModelChange)="setOrder($event)">
      <option value="" [(value)]="selected" disabled>Filtrar</option>
      <option value="lote">Lote</option>
      <option value="nome">Nome</option>
      <option value="nomeComercial">Nome comercial</option>
      <option value="dataValidade" selected>Validade</option>
      <option value="tipoAplicacao">Aplicação</option>
    </select>
  </div>
  <div class="row">
    <form [formGroup]="antibioticoForm" (ngSubmit)="onSubmit(antibioticoForm.value)" class="w-100">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="mt-3">Consultar Antibiótico</h2>
          <div class="input-group mb-3">
            <input [(ngModel)]="userFilter.nome" type="text" class="form-control" formControlName="nome" placeholder="Nome do antibiótico"
              aria-label="Recipient's username" aria-describedby="button-addon2">
          </div>
        </div>
        <div class="card-body d-none" id="resultado">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Lote
                  <span *ngIf="order =='lote'">▼</span>
                </th>
                <th>Nome
                  <span *ngIf="order =='nome'">▼</span>
                </th>
                <th>Nome Comercial
                  <span *ngIf="order =='nomeComercial'">▼</span>
                </th>
                <th>Validade
                  <span *ngIf="order =='dataValidade'">▼</span>
                </th>
                <th >Aplicação
                  <span *ngIf="order =='tipoAplicacao'">▼</span>
                </th>
              </tr>
            </thead>
            <tbody class="tbody-resultados">
              <tr #resultadosAntibiotico
                *ngFor="let antibiotico of antibioticos | filterBy: userFilter | orderBy: order: reverse; let i = index"
                attr.data-codigo-antibiotico="{{antibiotico.id}}"
                attr.data-json-antibiotico="{{antibiotico.jsonAntibiotico}}" class="cursorPointer resultado">
                <td>{{antibiotico.lote}}</td>
                <td>{{antibiotico.nome}}</td>
                <td>{{antibiotico.nomeComercial}}</td>
                <td>{{antibiotico.dataValidade | date: 'dd/MM/yyyy'}}</td>
                <td>{{antibiotico.tipoAplicacao | getNomeAplicacaoPeloCodigo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
