<div class="container">
  <form [formGroup]="antibioticoForm" (ngSubmit)="onSubmit(antibioticoForm.value)">
    <div class="divsor container">
      <div class="divsorTexto"> Cadastro de Antibótico</div>
      <div class="form-row formInputs">
        <div class="form-group col-md-3">
          <label class="font-weight-bold" for="lote">Lote</label>

          <input type="text" formControlName="lote" class="form-control inputs"
            [ngClass]="{ 'is-invalid': submitted && f.lote.errors }" />
          <div *ngIf="submitted && f.lote.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">O lote é obrigatório</div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold" for="nome">Nome</label>

          <input type="text" formControlName="nome" class="form-control inputs"
            [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
          <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">O nome é obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row formInputs">
        <div class="form-group col-md-3">
          <label class="font-weight-bold" for="dataNascimento">Validade</label>

          <input type="date" formControlName="dataValidade" class="form-control inputs"
            [ngClass]="{ 'is-invalid': submitted && f.dataValidade.errors }" />
          <div *ngIf="submitted && f.dataValidade.errors" class="invalid-feedback">
            <div *ngIf="f.dataValidade.errors.required">Data de Validade é obrigatória</div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label class="font-weight-bold" for="nome">Nome Comercial</label>

          <input type="text" formControlName="nomeComercial" class="form-control inputs"
            [ngClass]="{ 'is-invalid': submitted && f.nomeComercial.errors }" />
          <div *ngIf="submitted && f.nomeComercial.errors" class="invalid-feedback">
            <div *ngIf="f.nomeComercial.errors.required">O nome é obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label class="font-weight-bold inputAplicacao" for="tipoAplicacao">Aplicação</label>
          <select formControlName="tipoAplicacao" class="form-control inputAplicacao">
            <option value="0">ENDOVENOSA</option>
            <option value="1">INTRAMUSCULAR</option>
            <option value="2">IM - EV</option>
            <option value="3">COMPRIMIDO</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btnSubmit">Cadastrar</button>
        <img *ngIf="loading" class="pl-3"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a routerLink="/antibiotico/consultar" class="btn btn-link formInputs">Cancelar</a>
      </div>
    </div>
  </form>
</div>
