<div class="modal-header">
    <h4 class="modal-title">Consulta de Antibiótico</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label class="font-weight-bold" for="lote">Lote</label>
        <span class="d-block">{{antibiotico.lote}}</span>
      </div>
      <div class="form-group col-md-5">
        <label class="font-weight-bold" for="nome">Nome</label>
        <span class="d-block">{{antibiotico.nome}}</span>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label class="font-weight-bold" for="validade">Validade</label>
            <span class="d-block">{{antibiotico.dataValidade | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="form-group col-md-5">
            <label class="font-weight-bold" for="aplicacao">Aplicação</label>
            <span class="d-block">{{antibiotico.tipoAplicacao | getNomeAplicacaoPeloCodigo}}</span>
        </div>
        <div class="form-group col-md-5">
          <label class="font-weight-bold" for="responsavel">Responsável</label>
          <span class="d-block">{{antibiotico.funcionario}}</span>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" routerLink="/antibiotico/consultar" (click)="activeModal.close('Close click'); redirecionaTelaEdicao()">Editar</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click'); open();">Excluir</button>
</div>
