<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Início</a>
    </div>

    <div class="navbar-nav" *ngFor="let acesso of acessos">
        <a class="nav-item nav-link" routerLink="{{acesso.routerLink}}">{{acesso.nomeItem}}</a>
    </div>
    
    <div class="navbar-nav">
        <a class="nav-item nav-link sair" (click)="logout()">Sair</a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>