/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.criarConta {
    margin-left: 70%;
}

.cursorPointer{
    cursor: pointer;
}

.loginHeader {
    background-color: #3498db;
    min-height: 300px;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.logo {
    margin-left: 12%;
    margin-top: 2%;
}

.body {
    background-color: #5eb8df !important;
    color: #5eb8df !important;
}